@model IEnumerable<Finace.MVC.ViewModels.CategoriaDespesasVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DescricaoCategoriaDespesa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DescricaoCategoriaDespesa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategoriaDespesaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategoriaDespesaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CategoriaDespesaId })
        </td>
    </tr>
}

</table>
